.nav-link:hover a:hover{
    color:white ;
    background-color: black;
}

 .dropdown .dropdown-menu {

    transition: all 0.3s;
    opacity: 0;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    max-height: 300px;
    opacity: 1;
  }
  ul li a{
    color: white;
    text-decoration: none;
    padding: 20px ;
    transition: 1s;
    word-spacing: 10px;
    letter-spacing: 5px;
    
}
nav{
    margin-bottom: 100px;
    margin-top: 40px;
}
.navbar-brand{
    font-family: 'Yeon Sung', cursive;
    font-size: 30px;
}

