@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Mono:wght@100;400&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#navbarDropdown{
    padding: 15px;
    color: black;
    transition: 1s;


}

#navbarDropdown:hover{
    color: white;
    background-color: black;


}

 .dropdown .dropdown-menu {

    opacity: 0;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    max-height: 300px;
    opacity: 1;


  }
ul li a{
    color: white;
    text-decoration: none;
    padding: 20px ;
    word-spacing: 20px;
    letter-spacing: 5px;
    font-size: 12px;
    
}
nav{
    margin-bottom: 23px;
    margin-top: 25px;
}
.navbar-brand{
    letter-spacing: 3px;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 25px;
    transition: 2s;
    
}
.navbar-brand:hover{
    font-style: italic;
}


.fab{   
color:black;
}

.dropdown-toggle::after {
    border: none!important;
    font-family: "Font Awesome 5 Free"; font-weight: 400; content: " ᨆ";
    vertical-align: 0; /* to center vertically */
  }

.dropdown-toggle:hover::after {
    border: none!important;
    font-family: "Font Awesome 5 Free"; font-weight: 400; content: "✖";
    vertical-align: 0; /* to center vertically */
  }

  .containerr {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin-bottom: 50px;

  }
  .header{
      color: white;
    float: left;
    clear: both;
    width: 100%;
    height: 100vh;
    padding: 200px 200px;
    background-image: url("..//IMAGES/cover.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0% 0%,100% 0%, 100% 80%,50% 100%,0% 80%);
  }
  .centered {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#brand{
    font-family: 'Roboto Mono', monospace;
    color: grey;
    font-size: 25px ;

}  
.d-flex{
    padding: 10px;
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
}
.container-fluid h2{
     text-align: center;
     font-family: 'Raleway', sans-serif;
    margin-top: 20px;
     font-weight: 600;
}
.container-fluid p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height:45px;
    margin-bottom: 20px;

}
.container-fluid{


    padding-bottom: 40px;
   
}
.container-fluid a{
color: rgb(212, 49, 49);
text-decoration: none;
}
.container a:hover{
    filter: brightness(150%);

    }
#footer{
    margin-top: 50px;
    padding-top:40%;
   height:50%;
   color: white;
   text-align: center;
   background-color: rgb(44, 43, 56);
   clip-path: polygon(100% 50%, 100% 48%, 100% 100%, 0 100%, 0% 50%, 52% 68%);

  
}
#footer span{
    font-style: italic;
    font-size: 15px;
    
}
.row .fab{
color: white;
font-size: 22px;

}
.row .fab:hover{
    color:yellow;

}
.row{
    padding-right: 0%;
}

.btn-danger:hover{
    filter: brightness(150%);

}
span{
    padding-right: 30px;
}

/*crousel colors*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

#upFoot{
    padding:50px 30px;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; 
    z-index: 1;
    border-radius: 10px;
    background-image: url("..//IMAGES/footerSubscribe.jpg");
   
}
#footContainer{
text-align: center;
    position: relative;
    padding-top: 100px;
}

#footContainer input[type="text"]{
    border-radius: 4px;
}
#footContainer h2{
font-size: 32px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
   margin-top: 20px;
   margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
#unsubscribe{
    font-size:18px ;
    line-height: 36.6px;
    text-align: right;
    color: lightgrey;
    font-family: 'proxima-nova', sans-serif;
}
img{
    border-radius: 4px;
}
button span{
    font-size: 18px;
}

nav{
    text-align: right;
    

  }
  
 